
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: var(--space-m);
}

.setting {
    --width : 350px;

    max-width: var(--width);
    width: 100%;
    min-width: 200px;
    height: 400px;

    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-content: center;

    padding: var(--space-m);
    background: var(--lighter-background-color);
    border-radius: var(--border-radius);
}
.title{
    font-weight: bold;
    font-size: var(--step-2);
}
.inputContainer {
    display: flex;
    flex-direction: row;
    column-gap: var(--space-xl);
    width: 100%;
}
.input{
    width: 100%;
    padding: var(--step-0);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: var(--step-1);
}

.input:focus{
    outline: none;
    border: 1px solid var(--link-color);
}