.setting {
    --width : 350px;

    max-width: var(--width);
    width: 100%;
    min-width: 200px;
    height: auto;


    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    align-content: center;

    padding: var(--space-m);
    background: var(--lighter-background-color);
    border-radius: var(--border-radius);
    box-sizing: border-box;
}
.actionGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}


.title{
    font-weight: bold;
    font-size: var(--step-3);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.subtitle {
    font-weight: bold;
    font-size: var(--step-2);
}
.setting div{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.text{
    font-size: var(--step-1);
}

.checkBox {
    display: flex;
    align-items: center;
    gap: var(--space-s);
}

input[type="checkbox"] {
    position: relative;
    appearance: none;
    width: 50px;
    height: 25px;
    background: #ccc;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.4s;
    text-align: center;
}

input:checked[type="checkbox"] {
    background: #7da6ff;
}

input[type="checkbox"]::after {
    position: absolute;
    content: "";
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
    background: #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
    transition: 0.4s;
}

input:checked[type="checkbox"]::after {
    left: 50%;
}

.input{
    width: 100%;
    padding: var(--step-0);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    font-size: var(--step-1);
}

.input:focus{
    outline: none;
    border: 1px solid var(--link-color);
}

.cBtn {
    text-decoration: none;
    display: inline-flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    align-items: center;
    font-family: var(--font-roboto-mono), serif;
    font-size: var(--step-1);
}
.cBtnPrimary {
    background-color: var(--color-primary-800);
    color: var(--primary-button-text-color);
}
.cBtn {
    border: none;
    font: inherit;
    font-family: var(--text-font), serif;
    cursor: pointer;
    line-height: inherit;
    font-weight: 500;
    font-size: var(--step-1);
    display: inline-flex;
    padding: 1.5rem 1rem;
    align-items: center;
    justify-content: center;
    border-radius: var(--border-radius);
    transition:
            background-color 0.2s linear,
            border-color 0.1s linear;
}

.cBtnPrimary:active {
    background-color: var(--color-primary-600);
}



